@import url(common.css);
@import url(stylesheet.css);
@import url(responsive.css);
@import url(bundle-rwd.css);
@import url(menu.css);

.bundle-main {
    margin-top: 47px;
    padding: 0 17px;
}

.flex-item-2 {
    right: 10px;
}

.navbar-ul {
    gap: 27px;
}

.nav-arrow {
    margin-left: 5px;
}


.nav-get-started-btn {
    margin: 0;
}

.navbar-cart-button:hover .bxs-tv::after {
    transform: translate(-50%, -50%) scale(1.1);

}

.navbar-user-button:hover .bxs-user::after {
    transform: translate(-50%, -50%) scale(1.1);

}
.bundle-buttons button{
    margin: 0;
}

.bxs-tv::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.bxs-tv::after {
    content: "";
    background-color: #F1EEE4;
    width: 39px;
    height: 39px;
    color: #232323;
    border-radius: 100vw;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease;
}

.bxs-user::before {
    content: "\eee1";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bxs-user::after {
    content: "";
    background-color: #F1EEE4;
    width: 39px;
    height: 39px;
    color: #232323;
    border-radius: 100vw;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease;
}


.nav-menu-button {
    background-color: #F1EEE4;
    width: 39px;
    height: 39px;
    border-radius: 100vw;
    margin-right: 1rem;
}

.bundle-nav-get-started-btn::before {
    background-color: #F1EEE4;
}

.bundle-nav-get-started-btn {
    padding: 11px 26px;
}



.flex-flow-4 {
    gap: 4rem;
}

.all-btn,
.body-wash-button-2,
.deodorant-btn {
    padding: 10px 16px;
    border-radius: 7px;
}

.all-btn {
    background-color: #FFDE4B;
}

.body-wash-button-2::before,
.deodorant-btn::before {
    background-color: #F1EEE4;
}

.all-btn::before {
    background-color: #FFDE4B;
}

.bundle-buttons {
    gap: 0.6rem;
}

.bundle-para {
    margin-top: 2rem;
    white-space: normal !important;
}

.bundle-container {
    gap: 3rem;
    margin-bottom: 3rem;
}

.bundle-cards {
    padding: 0;
    gap: 1.1rem;
    transform: translateX(-32px);
}

.cards-2 {
    padding: 0;
    transform: translateX(-30px);
}

.shopping-card {
    width: min-content;
}

.shopping-cards {
    gap: 2.2em;
    margin-bottom: 3rem;
}

.cases-add-button {
    bottom: 4%;
}

.top-label {
    left: -12%;
}

.card-content {
    gap: 1rem;
    margin: 0 7.38rem;
    justify-content: flex-start;
}

.sold-out {
    opacity: 0.5;

}

.card-tag {
    margin: 0 65px;
    padding: 2px 4px;
    border-radius: 5px;
}


/* Need Refills Section */

.planet-heading{
    width: min-content;
}

.need-refills-section {
    gap: 3rem;
    margin-top: 10rem;
    margin-bottom: 8rem;
    padding-bottom: 10rem;
}

.need-refills {
    right: 570px;
}
.need-refills-btn {
    padding: 18px 25px;
}

.fa-plus::before {
    content: "\2b";
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.seperator-2-bundle {
    bottom: 27%;
}
.ham-opener:checked + .ham-menu{
    display: flex;
}
.ham-opener:checked *{
    display: none;
}