@media screen and (max-width:1980px) {
    .shopping-cards {
        justify-content: flex-start;
        position: relative;
    }

    .shopping-img {
        width: 10vw;
    }

    .large-product-imgs {
        width: 20vw ;
    }
    .extra-large-product-imgs {
        width: 44vw ;
    }
    .large-shopping-cards {
        margin-bottom: 15vw;
    }

}

@media screen and (max-width: 1400px) {

    .shopping-img {
        width: 200px;
    }
}




@media screen and (max-width: 1280px) {
    .shopping-img {
        width: 13vw;
    }

    .shopping-cards {
        justify-content: flex-start;
    }

}



@media screen and (max-width: 1240px) {
    main {
        padding: 0;
    }

    .flex-flow-4 {
        padding: 0;
    }

    .shopping-cards {
        gap: 1.8em;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0 20px;
        }
}

@media screen and (max-width: 1200px) {
    .bundle-imgs {
        width: 20vw;
    }

    .shopping-cards {
        gap: 1.8em;
        left: 50%;
        transform: translate(-50%);
        position: relative;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: auto;
        margin-bottom: 4rem;
    }

    .product-name,
    .product-description,
    .product-price {
        padding: 5px;
    }

    .responsive-div-for-bundle {
        display: flex;
    }
    .large-product-imgs {
        width: 27.5vw ;
    }
}

@media screen and (max-width: 1000px) {
    .flex-flow-4 {
        padding: 0;
    }

}

@media screen and (max-width: 800px) {
    .bundle-main {
        padding: 0;
    }

    .ham-opener:checked+.ham-menu {
        display: flex;
    }

    .product-bucket {
        margin-left: 0 !important;
        width: 100% !important;
    }

    .left-aligner {
        padding: 0 !important;
        bottom: 1px !important;
    }

    .wild-logo {
        transform: none;
    }

    .text-wrapper-cross-button {
        right: 2rem;
    }

    .bundle-imgs {
        width: 30vw;
    }

    .shopping-cards {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        column-gap: 0.9rem;
        row-gap: 4.5rem;
        margin-bottom: 11.5rem;
        padding: 0 15px;
    }

    .limited-edition {
        top: -8px;
        left: -12px;

    }

    .planet-refill-4 {
        position: absolute;
        width: 271px;
        left: -14.5%;
        width: 96px;
        top: -60%;
    }

    .bundle-heading {
        font-size: 42px;
        line-height: 48px;
    }

    .bundle-buttons {
        white-space: nowrap;
    }

    .flex-flow-4 {
        padding: 0 0px;
    }

    .card-heading {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #2b2b2b;
    }

    .card-para-bundle {
        font-size: 16px;
        line-height: 26px;
        text-align: center;
    }

    .card-content-2,
    .card-content {
        width: 100%;
        margin: 2.5rem 0;
    }

    .need-refills-btn,
    .bundle-get-started-btn {
        font-size: 14px;
        padding: 15px 20px;
    }

    .need-refills-section {
        gap: 1rem;
        padding-bottom: 0;
    }

    .bamboo-refills {
        padding: 1rem;
    }

    .grid-flow-2 {
        grid-template-columns: 1fr !important;
    }

    .grid-flow-2 .row-1 {
        margin: 3rem 0 3rem 0;
        width: 100%;
    }

    .purple-img {
        width: 80vw;
    }

    .compostable-div {
        flex-direction: column;
        margin: 0 0 10rem 0;
    }

    .planet-refill-bottle {
        width: 115px;
    }

    .large-product-imgs {
        width: 46.5vw 
    }
    .extra-large-product-imgs {
        width: 80vw ;
    }
    .large-shopping-cards{
       row-gap: 30vw;
       padding: 0 !important;
       justify-content: center;
    }

}


@media screen and (max-width: 600px) {
    .bundle-imgs {
        width: 44vw;
    }

    .shopping-cards {
        left: 50%;
    }

    .all-btn,
    .body-wash-button-2,
    .deodorant-btn {
        font-size: 14px;
        padding: 8px 13px;
    }

    .shopping-cards {
        margin-bottom: 11.5rem;
        row-gap: 10.5rem;
    }
    .article > * {
        width: 100% !important;
     }
     .article{
        padding: 2rem;
     }

}

@media screen and (max-width: 400px) {
    .bundle-imgs {
        width: 41vw;
    }

    .shopping-cards {
        left: 50%;
    }

    .all-btn,
    .body-wash-button-2,
    .deodorant-btn {
        font-size: 14px;
        padding: 8px 13px;
    }

    .shopping-cards {
        margin-bottom: 5.5rem;
        row-gap: 5.5rem;
    }

}



/* Casses */


@media screen and (max-width: 1150px) {
    .flex-flow-6 {
        gap: 4rem !important;
    }

    .flex-flow-6 br {
        display: none;
    }

    .ingredients-section {
        padding: 3rem !important;
    }
}

@media screen and (max-width: 950px) {
    .display-none-950px {
        display: none;
    }

    .sweat-security-img {
        width: 45vw;
    }

    .flex-flow-6 {
        gap: 4rem;
    }

    .nav-menu-button {
        display: block;
    }

    .navbar-cart-button {
        top: -30px;
    }

    .nav-menu-button {
        bottom: -17px;
    }

    .ingredients-section {
        gap: 2rem !important;
    }

    .why-switch {
        font-size: 24px;
        line-height: 32px;
    }

    .why-switch-para,
    .why-switch-para span {
        font-size: 18px;
        line-height: 28px;
    }

    .why-switch-img {
        width: 40vw;
    }

}

@media screen and (max-width: 800px) {
    
    .display-none-800px {
        display: none;
    }

    .card-heading {
        font-size: 28px;
    }


    .card-para-bundle {
        font-size: 19px;
    }

    .row-2-Para,
    .row-2-heading {
        font-size: 18px;
        line-height: 28px;
    }

    .flex-flow-6 {
        gap: 2rem;
        flex-direction: column;
    }

    .width-200px {
        width: 180px;

    }

    .sweat-security-btn {
        padding: 15px;
        font-size: 14px;
    }

    .navbar {
        margin-top: -6px;
    }
}

@media screen and (max-width: 750px) {

    .flex-flow-6 {
        margin: 1rem;
        margin-bottom: 10rem;
        gap: 1.5rem;
    }
    .question-box {
        grid-column: span 6;
     }
  
     .search-bar {
        max-width: 80vw;
     }
  
     .faqs-navbar-anchor {
        display: none;
     }
  
     .faq-nav-row-2,
     .faqs-footer,
     .faq-nav-row-1 {
        padding: 0 2rem;
     }
     .Faq-opener-label{
        display: inline !important;
     }
}

@media screen and (max-width: 550px) {
    .display-none-800px {
        display: block;
    }

    .display-none-550px {
        display: none;
    }
    .large-product-imgs {
        width: 65.5vw 
    }
    .large-shopping-cards{
       row-gap: 50vw;
    }
}

@media screen and (max-width: 600px) {
    .flex-flow-6 {
        flex-direction: column;
        gap: 2rem !important;
    }

    .flex-flow-6-row-2 {
        width: 65vw;
    }

    .flex-flow-6-row-1 {
        width: 70vw;
    }

    .sweat-security-img {
        width: 100% !important;
    }
}